language: python
python:
  - "2.7"
  - "3.5"

services:
  - mysql

env:
  global:
    - BACKEND_CONFIG=ci/config.yml
  matrix:
    - TOXENV=py27
    - TOXENV=py35

install:
  - pip install -U flake8 tox

before_script:
  - mysql -e 'CREATE DATABASE backend_test;'
  - flake8 --exit-zero backend

script:
  - tox

after_success:
  - bash <(curl -s https://codecov.io/bash)
